html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 225px;
  margin: 0;
  padding: 0;
}

.robot {
  width: 320px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  max-width: 50em;
}

.robot-body {
  width: 320px;
  position: absolute;
  padding-top: 2.5em;
}

.robot-brain {
  width: 46px;
  position: absolute;
  padding-top: 3em;
  left: 8.5em;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  padding-top: .2em;
}

.robot-head-left {
  position: absolute;
  left: 2.25em;
}

.robot-head-right {
  position: absolute;
  right: 2.25em;
}

.robot:hover .robot-head-left {
  top: -.2em;
  left: -2.5em;
}

.robot:hover .robot-head-right {
  top: -.2em;
  right: -2.5em;
}

.robot:hover .robot-brain {
  top: -1.25em;
}
