html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  height: 249px;
  margin: 0;
  padding: 0;
}

.robot {
  width: 320px;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  max-width: 50em;
}

.robot-body {
  width: 320px;
  position: absolute;
  padding-top: 4rem;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left:
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  padding-top: 1.75em;
}

.robot-head-left {
  position: absolute;
  left: 2.25em;
}

.robot-head-right {
  position: absolute;
  right: 2.25em;
}
